{% extends "news/home.html" %} 
{% block extra_head %}
    {% if form %} {{ form.media }} {% endif %}
{% endblock %} 
{% block articles %}
    <h2>{% if article_uid %} Update News Article {% else %} Add News Article {% endif %}</h2>
<form method="post" action="{% if article_uid %}{% url article_edit competition_slug article_uid %} {% else %} {% url article_add competition_slug %} {% endif %}" class="inline">
    {% csrf_token %}
    {% for field in form %}
        <div class="formwrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <fieldset class="cage">
        <input id="submit" class="submit" type="submit" value="{% if article_uid %} update {% else %}Add {% endif %}" />
    </fieldset>
</form>
{% endblock %}
